<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data Diri</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Occupation Table</div>
        <table border="1">
            <tr th:each="as : ${occupation}">
                <td>ID</td>
                <td th:text="${as.id}"></td>
            </tr>
            <tr th:each="as : ${occupation}">
                <td>Current Company</td>
                <td th:text="${as.currentCompany}"></td>
            </tr>
            <tr th:each="as : ${occupation}">
                <td>Job</td>
                <td th:text="${as.job}"></td>
            </tr>
            <tr th:each="as : ${occupation}">
                <td>Website</td>
                <td th:text="${as.website}"></td>
            </tr>
        </table>

    </body>
</html>
