<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data Diri</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body><center>
        <div>Profile Table</div>
        <table border="1">
            <tr th:each="as : ${profile}">
                <td>ID</td>
                <td th:text="${as.id}"></td>
            </tr>
            <tr th:each="as : ${profile}">
                <td>NAME</td>
                <td th:text="${as.name}"></td>
            </tr>
            <tr th:each="as : ${profile}">
                <td>BIRTHDATE</td>
                <td th:text="${as.birthDate}"></td>
            </tr>
            <tr th:each="as : ${profile}">
                <td>GENDER</td>
                <td th:text="${as.gender}"></td>
            </tr>
            <tr th:each="as : ${profile}">
                <td>EMAIL</td>
                <td th:text="${as.email}"></td>
            </tr>
        </table>
       <div><h1>Update Data</div>
        <form th:action="@{/saveinfo}" th:object="${profile}" method="POST">
            <label>ID</label>
            <input type="text" id="textId" class="form-control" th:field="*{id}"><br><br>
            <label>BirthDate</label>
            <input type="text" id="textId" class="form-control" th:field="*{birthDate}">
            <label>Email</label>
            <input type="text" id="textId" class="form-control" th:field="*{email}">
            <label>Gender</label>
            <input type="text" id="textId" class="form-control" th:field="*{gender}">
            <label>Name</label>
            <input type="text" id="textId" class="form-control" th:field="*{name}">
            <input type="submit" value="Save">
            <br><br></h1>
        </form>
    </center>
    </body>
</html>
