<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data Diri</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Occupation Table</div>
        <table border="1">
            <tr th:each="as : ${occupation}">
                <td>ID</td>
                <td th:text="${as.id}"></td>
            </tr>
            <tr th:each="as : ${occupation}">
                <td>Current Company</td>
                <td th:text="${as.currentCompany}"></td>
            </tr>
            <tr th:each="as : ${occupation}">
                <td>Job</td>
                <td th:text="${as.job}"></td>
            </tr>
            <tr th:each="as : ${occupation}">
                <td>Website</td>
                <td th:text="${as.website}"></td>
            </tr>
        </table>
<div><h1>Update Data</div>
        <form th:action="@{/saveoccupation}" th:object="${occupation}" method="POST">
            <label>ID</label>
            <input type="text" id="textId" class="form-control" th:field="*{id}"><br><br>
            <label>Current Company</label>
            <input type="text" id="textId" class="form-control" th:field="*{currentCompany}">
            <label>Job</label>
            <input type="text" id="textId" class="form-control" th:field="*{job}">
            <label>Website</label>
            <input type="text" id="textId" class="form-control" th:field="*{website}">
            <input type="submit" value="Save">
            <br><br></h1>
        </form>
    </body>
</html>
