<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <title>Data Diri</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body><center>
        <div><h1>Update Data</div>
        <table border="1">
            <tr th:each="as : ${profile}">
                <td>ID</td>
                <td th:text="${as.id}"></td>
            </tr>
            <tr th:each="as : ${profile}">
                <td>NAME</td>
                <td th:text="${as.name}"></td>
            </tr>
            <tr th:each="as : ${profile}">
                <td>BIRTHDATE</td>
                <td th:text="${as.birthDate}"></td>
            </tr>
            <tr th:each="as : ${profile}">
                <td>GENDER</td>
                <td th:text="${as.gender}"></td>
            </tr>
            <tr th:each="as : ${profile}">
                <td>EMAIL</td>
                <td th:text="${as.email}"></td>
            </tr>
        </table>

        <div>Update Table</div>
        <form th:action="@{/saveinfo}" th:object="${profile}" method="POST">
            <label>ID</label>
            <input type="text" id="textId" class="form-control" th:field="*{id}"><br><br>
            <label>BirthDate</label>
            <input type="text" id="textId" class="form-control" th:field="*{birthDate}">
            <label>Email</label>
            <input type="text" id="textId" class="form-control" th:field="*{email}">
            <label>Gender</label>
            <input type="text" id="textId" class="form-control" th:field="*{gender}">
            <label>Name</label>
            <input type="text" id="textId" class="form-control" th:field="*{name}">
            <input type="submit" value="Save">
            <br><br></h1>
        </form>
    </center>
    <!-- jQuery and JS bundle w/ Popper.js -->
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>
